.mainContainer {
    display: grid;
    width: auto;
    height: 100vh;
    background: linear-gradient(rgba(255,108,94, 1), rgba(255,130,95,1));
}

.contentBox {
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #282c34;
    border-color: transparent;
    margin: 100px;
}

.SearchBox {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchControl {
    display: flex;
    justify-content: center;
    align-items: center;
}
.citySearch {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-width: 2px;
    border-bottom-color: rgb(73, 98,109);
    background-color: transparent;
    font-size: xx-large;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.searchButton {
    border: none;
    cursor: pointer;
}

h3, h4 {
    text-align: center;
    color: rgba(79,101,112, 1);
    font-family: 'Roboto', sans-serif;
}
